.container {
  margin: 2rem auto;
  width: 40rem;
}

.user-card {
  padding: 2rem;
}

.user-form {

  &__field {
    display: block;

    &--middle {
      width: 20rem;
    }

    &--short {
      width: 10rem;
    }
  }
}
